In [1]:
import numpy as np
import pandas as pd

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

In [2]:
df_state = pd.read_csv('GlobalLandTemperaturesByState.csv')

In [3]:
df_state.columns = ['dt', 'average_temperature', 'average_temperature_uncertainty', 'state', 'country']

In [4]:
df_state = df_state[df_state.state == 'Texas' ]

In [7]:
df_city = pd.read_csv('GlobalLandTemperaturesByCity.csv')

In [9]:
df_city.columns = ['dt', 'average_temperature', 'average_temperature_uncertainty', 'city', 'country', 'latitude', 'longitude']

In [11]:
df_city = df_city[df_city.city == 'San Antonio']

In [12]:
df_state.head()

,dt,average_temperature,average_temperature_uncertainty,state,country
549727,1820-01-01,4.489,3.369,Texas,United States
549728,1820-02-01,9.081,2.873,Texas,United States
549729,1820-03-01,12.657,2.423,Texas,United States
549730,1820-04-01,19.215,2.501,Texas,United States
549731,1820-05-01,22.577,2.495,Texas,United States

In [13]:
df_city.head()

,dt,average_temperature,average_temperature_uncertainty,city,country,latitude,longitude
6618616,1820-01-01,7.169,3.676,San Antonio,United States,29.74N,97.85W
6618617,1820-02-01,11.448,2.964,San Antonio,United States,29.74N,97.85W
6618618,1820-03-01,15.003,2.413,San Antonio,United States,29.74N,97.85W
6618619,1820-04-01,21.022,2.136,San Antonio,United States,29.74N,97.85W
6618620,1820-05-01,23.938,1.923,San Antonio,United States,29.74N,97.85W

In [14]:
df_city.drop(columns=['latitude', 'longitude'], inplace=True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
df_city.head()

,dt,average_temperature,average_temperature_uncertainty,city,country
6618616,1820-01-01,7.169,3.676,San Antonio,United States
6618617,1820-02-01,11.448,2.964,San Antonio,United States
6618618,1820-03-01,15.003,2.413,San Antonio,United States
6618619,1820-04-01,21.022,2.136,San Antonio,United States
6618620,1820-05-01,23.938,1.923,San Antonio,United States

In [28]:
df_city[df_city.average_temperature.isnull()]

,dt,average_temperature,average_temperature_uncertainty,city,country
6618638,1821-11-01,NaN,NaN,San Antonio,United States
6618639,1821-12-01,NaN,NaN,San Antonio,United States
6618640,1822-01-01,NaN,NaN,San Antonio,United States
6618641,1822-02-01,NaN,NaN,San Antonio,United States
6618642,1822-03-01,NaN,NaN,San Antonio,United States
6618648,1822-09-01,NaN,NaN,San Antonio,United States
6618649,1822-10-01,NaN,NaN,San Antonio,United States
6618650,1822-11-01,NaN,NaN,San Antonio,United States
6618651,1822-12-01,NaN,NaN,San Antonio,United States