In [1]:
from vega_datasets import data

import acquire as a
import prepare as prep

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

### Convert date column to datetime format.

In [2]:
df = a.complete_data(cached=True)

In [3]:
df.head()

,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [6]:
df.sale_date = pd.to_datetime(df.sale_date)

### Plot the distribution of sale_amount and item_price.

In [ ]:
by_date = df.groupby(['item_price']).sale_amount.sum().reset_index()
by_date.plot(x='item_price', y='sale_amount')

### Set the index to be the datetime variable.

In [ ]:
df.set_index(df.sale_date, inplace=True)

In [ ]:
df.head()

Add a 'month' and 'day of week' column to your dataframe.

Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.